<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolBox.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolBox.ToolBox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ToolBox.UserSettings>
            <setting name="ApkDirectory" serializeAs="String">
                <value>C:\Work\Testing\APKs</value>
            </setting>
            <setting name="LogCatSaveDirectory" serializeAs="String">
                <value>C:\Work\Testing\ADB commands\Logcat</value>
            </setting>
            <setting name="DeviceAppLogSaveDirectory" serializeAs="String">
                <value>C:\Work\Testing\ADB commands\applogs</value>
            </setting>
            <setting name="ProvisioningHosts" serializeAs="String">
                <value>host=local|10.9.10.12  org=seth|seth  d=uwarbear|aaaa d=aavenicci|aaaa d=jbalgruuf|aaaa d=egraymane|aaaa d=kwhitemane|aaaa d=dpurespring|aaaa d=cvalentia|aaaa d=pavenicci|aaaa d=obattleborn|aaaa d=fsecretfire|aaaa~host=epsilon|epsilonmobile.iseinc.biz  org=seth|seth  d=nick|aaaa d=danse|aaaa d=preston|aaaa d=kellogg|aaaa d=tinkertom|aaaa d=piper|aaaa org=sethOrg|SETH1234  d=driver1|aaaa d=driver2|aaaa d=driver3|aaaa d=driver4|aaaa</value>
            </setting>
        </ToolBox.UserSettings>
        <ToolBox.ToolBox>
            <setting name="ApkDirectory" serializeAs="String">
                <value>C:\Work\Testing\APKs</value>
            </setting>
            <setting name="LogCatSaveDirectory" serializeAs="String">
                <value>C:\Work\Testing\ADB commands\Logcat</value>
            </setting>
            <setting name="DeviceAppLogSaveDirectory" serializeAs="String">
                <value>C:\Work\Testing\ADB commands\applogs</value>
            </setting>
        </ToolBox.ToolBox>
    </userSettings>
</configuration>